.display-site {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}

.display-site img {
    height: 500px;
    width: 450px;
}

.review {
    display: flex;
    /* grid-template-rows: repeat(1, 1fr); */
    gap: 20px;
    margin: 20px 0px 20px 0px;
}

.each-review {
    text-align: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}